*{font-size:40px; text-align:center; margin:auto;}
body{background-color:azure;}
.nav{background-color:black;}
.nav a{color:white; text-decoration:none; margin:5%;}
table{width:70%;}
img{width:200px;height:auto;}